parameters:
    level: max
    paths:
        - ../../config
        - ../../src
        - ../../tests
    bootstrapFiles:
        #- .phpstan.constants.php
includes:
    - ../../vendor/phpstan/phpstan-phpunit/extension.neon

