{% extends "base.html.twig" %}

{% block title %}Card Deck{% endblock %}

{% block main %}
{% include 'card/nav.html.twig' %}

<h1>Card deck contents</h1>

<p>This is the contents of the deck</p>

    {% for card in deck %}
        {% if '♥' in card or '♦' in card %}
            <div class="card red">
        {% else %}
            <div class="card black">
        {% endif %}
    {{ card }}
    </div>
    {% endfor %}

<p></p>

{{ include('card/flash.html.twig') }}
{% endblock %}