{% extends "base.html.twig" %}

{% block title %}Black Jack{% endblock %}

{% block main %}
{% include 'blackjack/nav.html.twig' %}
{% include 'card/flash.html.twig' %}

{% if player_hand[0] is defined %}
    <p>Spelarens hand</p>

    {% for card in player_hand[0] %}
        {% if '♥' in card or '♦' in card %}
            <div class="card red">
        {% else %}
            <div class="card black">
        {% endif %}
    {{ card }}
    </div>
    {% endfor %}
{% endif %}


{{ dump() }}

{% endblock %}