<nav class="navbar">
    <ul>
        <li><a href="{{ path('blackjack_start') }}">Starta</a></li>
        <li><a href="{{ path('blackjack_about') }}">About</a></li>
        <li><a href="{{ path('blackjack_deck') }}">Kortlek</a></li>
    </ul>
</nav>