<nav class="navbar", "bj">
    <ul>
        <li><a href="{{ path('blackjack_start') }}">Starta</a></li>
        <li><a href="{{ path('blackjack_about') }}">About</a></li>
        <li><a href="{{ path('blackjack_highscore') }}">High scores</a></li>
        <li><a href="{{ path('blackjack_database') }}">Database</a></li>
    </ul>
</nav>