{% extends "base.html.twig" %}

{% block title %}Bibliotek{% endblock %}

{% block main %}

{% include 'book/nav.html.twig' %}

    <h1>Bibliotek </h1>

    <p>
       Bibliotek
    </p>
    <div class="bookupdate">

        <form method="post" action="">
            <fieldset>
            <legend>Lägga till bokinformation</legend>
            <div>
                <label for="title">Titel</label>
                <input type="text" name="title" value="<Titel>">
            </div><div>
                <label for="isbn">ISBN</label>
                <input type="text" name="isbn" value="<ISBN>">
            </div><div>
                <label for="image">Bild</label>
                <input type="text" name="image" value="<Bild filnamn>">
            </div><div>
                <label for="author">Författare</label>
                <input type="text" name="author" value="<Författare>">
            </div>  
            </fieldset>
        <p>
        <input type="submit" name="do_it" value="Skapa bok">
        </p>
        </form> 

    </div>
    

<p></p>


{% endblock %}