{% extends 'base.html.twig' %}

{% block title %}Library view!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<ul>
    {% for book in library %}
        <li>{{ book.getName|e }} ({{ product.getId|e }}) {{ product.getValue|e }}</li>
    {% endfor %}
</ul>
{% endblock %}
