@import 'header.css';
@import 'magic.css';
@import 'footer.css';
@import 'die.css';
@import 'flash.css';
@import 'card.css';
@import 'phpdoc.css';
@import 'books.css';
/* 
 * { border: 2px dashed red; } 
*/

body {
    background-color: rgb(0, 0, 0, 0);
    color: white;
    margin: 0 auto;
    max-width: 800px;
/*    background: url('../images/background.jpg'); */
    background: url('https://upload.wikimedia.org/wikipedia/commons/a/a4/Allianz_Arena_in_Red_light_%28Pexels_1103969%29.jpg');
    background-size: cover;
}

a {
    color: #27ef45; 
    text-decoration: none;
}

a:hover {
    color: #05c157; 
    text-decoration: underline; 
}

h1 {
    border-bottom: 4px double #ccc;
}

.site-header {
    color: white;
    background-color: rgba(255, 255, 255, 0.2); 
    text-align: center;
    padding: 40px 20px;
}

.site-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.main {
 /*   flex: 1 0 auto;*/
    color: white;
    padding-top: 2em;
    background-color: rgba(0, 0, 0, 0.3); 
}

.row {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); 
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-sizing: border-box;
}

.repos ul {
    font-size: 2rem;
    list-style-type: none;
    padding: 2px;
    margin: 1px;
}

code {
        background-color: rgba(255, 255, 255, 0.2);
        color: #f8f8f2;
        font-family: "Courier New", Courier, monospace;
        overflow-x: auto; 
    }

.routes code {
    display: block;
    background-color: rgba(0, 0, 0, 0.4); 
    color: #00ff00; 
    padding: 10px;
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0,8rem;
    overflow-x: auto; 
    white-space: pre-wrap; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
}
