.books td:first-child img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    display: block;
}

.bookupdate form {
  display: table;
}

.bookupdate div {
  display: table-row;
}

.bookupdate label, input {
  display: table-cell;
  margin-bottom: 10px;
}

.bookupdate label {
  padding-right: 10px;
}




