
.magic {
    border: 5px solid #ff0000; 
    padding: 20px;
    margin: 20px;
    animation: color-change 3s infinite;
    text-align: center;
}

.magic-number {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    animation: color-change 3s infinite; 
}



@keyframes color-change {
    0% {
        color: #ff0000;
    }
    25% {
        color: #00ff00;
    }
    50% {
        color: #0000ff;
    }
    75% {
        color: #ffff00;
    }
    100% {
        color: #ff0000;
    }
}

