{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
<div class="magic">

    <h1>Magic number</h1>
    <p>Welcome to my awesome magical homepage.</p>
    <p>This is the current magic number: </p>
    <div class="magic-number">
    {{ number }}
    </div>
    <img src="{{ asset('images/vecteezy_a-shamrock-tree_30644893.png') }}" alt="" width="200px"><br>
    <a href="https://www.vecteezy.com/free-photos/lucky">Lucky Stock photos by Vecteezy </a>
        
</div>
{% endblock %}
