{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Redovisningstexter</h1>
    <p></p>


    <h2 id="kmom01">Kmom01</h2>
    <p>Jag valde att anv채nda vanlig CSS tills vidare, 
        kanske g책r jag 채ver till LESS eller SASS senare om jag k채nner behov av mer struktur. </p>


    <h2 id="kmom02">Kmom02</h2>
    <p>Redovisningstext</p>
    <h2 id="kmom03">Kmom03</h2>
    <p>Redovisningstext</p> 
    <h2 id="kmom04">Kmom04</h2>
    <p>Redovisningstext</p>
    <h2 id="kmom05">Kmom05</h2>
    <p>Redovisningstext</p>
    <h2 id="kmom06">Kmom06</h2>
    <p>Redovisningstext</p>

{% endblock %}
