{% extends "base.html.twig" %}

{% block title %}Bibliotek{% endblock %}

{% block main %}

{% include 'library/nav.html.twig' %}

    <h1>Bibliotek </h1>

    <p>
        Spelet 21 är ett klassiskt kortspel därmålet är att komma så nära 21 som möjligt utan att bli "tjock".</p>
        <p>
        Du drar ett kort i taget tills du väljer att stanna eller blir tjock - då vinner banken</p>
        <p>
        Du spelar mot datorn , som är "bank". Banken vet inte vad du får för kort och kommer alltid att dra kort 
        till den når minst 17 och då stanna.</p>
        <p>
        Spelets regler finns på <a href="https://sv.wikipedia.org/wiki/Tjugoett_(kortspel)" target="_blank">Wikipedia</a>
        </p>
        <button onclick = window.location.href="{{ path('game_start') }}">Starta spelet</button>
    </p>

    

<p></p>


{% endblock %}